* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: darkcyan;
    color: white;
}

label {
    display: block;
}

input, select {
    padding: 5px 10px;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}